
# Shared IP (Chỉ cần đổi dòng này khi đổi môi trường)
APP_IP=your_ip_server

# Ports
API_PORT=your_port_server
CHATBOT_PORT=you_port_chatbot_server

# Google Login with ID Server 
SERVER_CLIENT_ID = your_server_client_id 